# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Custom
*.txt
*.ipch
*.tlog
*.log
*.enc
*.idb
*.pdb
*.db
*.opendb
*.suo
*.db-wal
*.db-shm
*.VC
*.ilk
*.iobj
*.ipdb
*.wlog
*.ini
